India Travel Restriction: 25 March 2022

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
flightData = pd.read_csv('https://raw.githubusercontent.com/chongwei49/IE0005-DSAI-Group-Barley/master/dataset/economy.csv')
flightData.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,11/2/2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
1,11/2/2022,SpiceJet,SG,8157,6:20,Delhi,02h 20m,non-stop,8:40,Mumbai,"5,953"
2,11/2/2022,AirAsia,I5,764,4:25,Delhi,02h 10m,non-stop,6:35,Mumbai,"5,956"
3,11/2/2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
4,11/2/2022,Vistara,UK,963,8:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955"

In [3]:
flightData.drop(columns=['ch_code', 'num_code'], axis=1, inplace=True)
flightData_trim = flightData[:1000]
flightData_trim

,date,airline,dep_time,from,time_taken,stop,arr_time,to,price
0,11/2/2022,SpiceJet,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
1,11/2/2022,SpiceJet,6:20,Delhi,02h 20m,non-stop,8:40,Mumbai,"5,953"
2,11/2/2022,AirAsia,4:25,Delhi,02h 10m,non-stop,6:35,Mumbai,"5,956"
3,11/2/2022,Vistara,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
4,11/2/2022,Vistara,8:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955"
...,...,...,...,...,...,...,...,...,...
995,17/2/2022,Air India,5:35,Delhi,15h 10m,1-stop,20:45,Mumbai,"9,000"
996,17/2/2022,Air India,5:15,Delhi,17h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Raipur\n\t...,23:05,Mumbai,"9,000"
997,17/2/2022,Air India,19:00,Delhi,20h 50m,1-stop,15:50,Mumbai,"9,053"
998,17/2/2022,Indigo,21:50,Delhi,10h 25m,1-stop,8:15,Mumbai,"9,263"
999,17/2/2022,Air India,20:00,Delhi,24h 45m,1-stop,20:45,Mumbai,"9,315"

In [31]:
flightData['stop'] = flightData['stop'].str.split(r'\n').str.get(0) #To clean 'stop' column

flightData['price'] = flightData['price'].str.replace(',', '') #To clean 'price' column

flightData['dep_time'] = flightData['dep_time'].str.replace(':', '') #To clean 'dep_time' column
flightData['dep_time'] = flightData['dep_time'].str.zfill(4) #To show time in HHMM format

flightData['arr_time'] = flightData['arr_time'].str.replace(':', '') #To clean 'arr_time' column
flightData['arr_time'] = flightData['arr_time'].str.zfill(4) #To show time in HHMM format


flightData_trim = flightData[:1000] #Trim data down to 1000 rows instead of its full dataset which has 206774 rows (to prevent lagging)
flightData_trim #Display trimmed data

,date,airline,dep_time,from,time_taken,stop,arr_time,to,price
0,11/2/2022,SpiceJet,1855,Delhi,02h 10m,non-stop,2105,Mumbai,5953
1,11/2/2022,SpiceJet,0620,Delhi,02h 20m,non-stop,0840,Mumbai,5953
2,11/2/2022,AirAsia,0425,Delhi,02h 10m,non-stop,0635,Mumbai,5956
3,11/2/2022,Vistara,1020,Delhi,02h 15m,non-stop,1235,Mumbai,5955
4,11/2/2022,Vistara,0850,Delhi,02h 20m,non-stop,1110,Mumbai,5955
...,...,...,...,...,...,...,...,...,...
995,17/2/2022,Air India,0535,Delhi,15h 10m,1-stop,2045,Mumbai,9000
996,17/2/2022,Air India,0515,Delhi,17h 50m,1-stop,2305,Mumbai,9000
997,17/2/2022,Air India,1900,Delhi,20h 50m,1-stop,1550,Mumbai,9053
998,17/2/2022,Indigo,2150,Delhi,10h 25m,1-stop,0815,Mumbai,9263
999,17/2/2022,Air India,2000,Delhi,24h 45m,1-stop,2045,Mumbai,9315

In [32]:
price = pd.DataFrame(flightData_trim['price'])
print("Data type : ", type(price))
print("Data dims : ", price.size)
price.head()

price.describe()

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  1000

       price
count   1000
unique   248
top     5955
freq     173